.Mui-selected{
  background-color:#00cc00
}

.css-ess3ih .rs__cell:not(.rs__time){
  background-color: #00cc00;
  color: #000000;
  font-weight: bold;
}

.css-1sn4lm3-MuiTypography-root{
    font-weight: bold;
}

.css-s6u7kg .rs__cell.rs__time{
    background-color: #ffdd21;
}

.css-s6u7kg .rs__cell.rs__header>:first-of-type{
    font-weight: bold;
     ont-size: 1rem;
}
